<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">article not found</span>
      <span class="heading-primary--sub">sorry, we could not find that article...</span>
    </h1>
  </div>
</header>