form {
  display: flex;
  flex-direction: column;

  .field {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    label {
      font-size: $default-font-size;
      font-weight: 700;
      text-transform: uppercase;
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .input {
      flex-grow: 1;
      padding: 1rem;
      font-size: 1.5rem;

      &--body {
        height: 20rem;
      }
    }

    &--radio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

      label {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    color: #777;
    margin-top: 1rem;
  }
}

.search {
  display: inline-block;

  #search {
    padding: .5rem;
    font-size: 1.5rem;
  }
}