<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">amazing articles</span>
      <span class="heading-primary--sub">your pen is mightier than...</span>
    </h1>
  </div>
</header>
<main>
  <section class="section-articles">
    <div class="u-center-text">
      <%= render @blogs %>
    </div>
  </section>
</main>